<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/login.css">
    <title>Login Page</title>
</head>

<body class="body-class">
    <header>
        <h1 class="heading">Login Page</h1>
    </header>
    <div class="form-div">
        <form class="form-class" action="/user/login" method="POST">
            <div class="prompt"></div>
            <label for="email">Email</label><br>
            <input type="email" class="form-input" id="email"><br>
            <label for="password">Password</label><br>
            <input type="password" class="form-input" id="password"><br>
            <button type="submit" class="submitBtn">Login</button>
        </form>
        <div class="loginInfo"></div>
        <div>
            <p>Don't have an account? <a href="/">SignUp</a></p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/JS/login.js"></script>
</body>

</html>