<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/signup.css">
    <title>Sign Up Page</title>
</head>

<body class="body-class">
    <header>
        <h1 class="heading">SignUp Page</h1>
    </header>
    <div class="form-div">
        <form class="form-class" action="post">
            <div class="prompt"></div>
            <label for="username">Username</label><br>
            <input id="username" class="form-input" type="text"><br>
            <label for="email">Email</label><br>
            <input id="email" class="form-input" type="email"><br>
            <label for="phoneNo">Phone Number</label><br>
            <input id="phoneNo" class="form-input" type="text"><br>
            <label for="password">Password</label><br>
            <input id="password" class="form-input" type="password"><br>
            <label for="cnfrmpassword">Confirm Password</label><br>
            <input id="cnfrmpassword" class="form-input" type="password"><br>
            <button type="submit" class="submitBtn">Sign Up</button>
        </form>
        <div class="signUpInfo"></div>
    </div>
    <p> For login <a href="/user/login">Click Here</a></p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/JS/signup.js"></script>
</body>

</html>