body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header{
    margin-bottom: 1em;
    padding: 0;
    background-color: #25d366;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.createGroupBtn{
    margin: 1vw;
    padding: 5px 11px 5px 11px;
    border-radius: 9px;
}

.createGroupForm{
    position:absolute;
    background-color: #25d366;
    padding: 1em;
    border-radius: 0 0 2em 0;
}

.createGroupInput{
    padding: 7px;
    border-radius: 14px;
    width: 90%;
    margin: 0 0 10px 0px;
}

.createGroupForm button{
    margin: 0 0 0 6px;
    padding: 3px 10px 3px 10px;
    border-radius: 8px;
}

.heading{
    font-weight: bold;
    text-align: center;
    padding: 18px;
    margin: 0;
    width: 70vw;
}

.userInfo{
    display: block;
}

.success{
    color: green;
}

.failure{
    color: red;
}

.flex{
    display: flex;
}

.groupDiv{
    min-width: 25vw;
}

.groupDiv h4 {
    text-align: center;
}

.groupUl{
    list-style-type: none;
    background-color: beige;
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
    min-height: 70vh;
}

.groupLi{
    background-color: #e1e1cd;
    border-radius: 15px;
}

.groupLi :hover{
    background-color: #50f0b5;
    border-radius: 15px;
}

.groupLi h3{
    padding: 15px;
}

.groupInfo{
    padding: 0 60px 0px 39px;
}

.addMemberBtn, .showMemberBtn{
    padding: 6px 10px 6px 10px;
    border-radius: 8px;
    margin: 0 3em 0px 0px;
}

.addMemberForm{
    position: absolute;
    padding: 1em;
    background-color: rgb(213, 213, 203);
    border-radius: 0px 20px 20px;
}

.addMemberInput{
    padding: 7px;
    border-radius: 14px;
    width: 90%;
    margin: 0 0 10px 0px;
}

.addMemberForm button{
    margin: 0 0 0 6px;
    padding: 3px 10px 3px 10px;
    border-radius: 8px;
}

.memberList{
    display: block;
    position: absolute;
    background-color: #d5d5cb;
    padding: 1em;
    border-radius: 10px 10px 20px 20px;
    width: 17vw;
}
.memberList p {
    margin: 0;
}

.memberListLi{
    padding: 4px 0 4px 0px;
}

.adminBtnClass{
    position: absolute;
    right: 29%;
    background-color: #9df47e;
    border-radius: 10px;
}
.makeAdminBtnClass{
    position: absolute;
    right: 29%;
    background-color: #f4dc7e;
    border-radius: 10px;
}
.adminBtnClass:hover{
    background-color: #70d74b;
}
.makeAdminBtnClass:hover{
    background-color: #d3b951;
}

.removeBtnClass{
    position: absolute;
    right: 5px;
    background-color: #f47e7e;
    border-radius: 10px;
}
.removeBtnClass:hover{
    background-color: #d64848;
}


.chatUl{
    list-style-type: none;
    width: 60vw;
}

/* .chatLi{
    border-radius: 0.6em;
    padding: 0.3em;
    margin-top: 0.6em;
    background-color: rgb(230, 230, 230);
} */

.messageClass{
    background-color: #eee;
    padding: 5px 8px 5px 8px;
    border-radius: 8px;
    width: fit-content;
}

footer{
    margin-top: 1em;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: #128C7E;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.msg-form{
    margin: auto;
    width: 44vw;
    
}

.msg-input{
    width: 85%;
    padding: 5px;
    border-radius: 8px;
    border: 0;
}

#sendBtn{
    padding: 3px 10px 3px 10px;
}

.sendImgForm{
    padding: 0 15px 0px 0px
}