body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header{
    margin-bottom: 1em;
    padding: 0;
}

.heading{
    font-weight: bold;
    text-align: center;
    background-color: #25D366;
    padding: 1em;
    margin: 0;
}


.form-class{
    width: 30vw;
    margin: auto;
    padding: 2em;
    border-radius: 1em;
    border: 3px solid #128C7E;
}

.prompt{
    color: rgb(247, 0, 0);
    font-weight: bold;
    text-align: center;
}

.form-input{
    width: 100%;
    padding: 0.3em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    border-radius: 5px;
    border: 2px solid silver;
}

.form-input:focus{
    outline: none;
    border: 2px solid #25D366;
}

.submitBtn{
    margin-top: 0.3em;
    padding: 0.3em;
    width: 30%;
    background-color: #128C7E;
    border-radius: 6px;
}
.submitBtn:hover{
    background-color: #075E54;
}

.loginInfo{
    text-align: center;
    font-weight: bold;
}
